$height: 70px;
$height2: 55px;
$profilewidth2: 30%;
$profileimage: 40px;
$abs: absolute;
$rel: relative;
$zero: 0;
$cen: center;
$au: auto;
$non: none;
$SB: space-between;
$flex: flex;
$bloc: block;
$noWp: nowrap;
$whit: #fff;
$fix: fixed;
